.center {
    text-align: center;
}
.bg {
    background-color: black;
}
.mx-auto {
    margin: auto;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.items {
    align-items: center;
}
.row input {
    font-size: 33px;
    margin: 0;
    padding: 10px 10px;
    border: 4px solid black;
    border-radius: 20px;
    width: 360px;
}